h1{
  text-align: center;
  color: darkmagenta;
  padding: 1%;
  margin: 50px;
}

table{
  align-self: center;
  border: 2px solid black;
  border-collapse: collapse;
  width: 30%;
  text-align: center;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightgrey;
}

#top{
  color: white;
  background-color: indigo;
  text-align: center;
  padding: 10px;
}

#bottom{
  color: white;
  background-color: indigo;
  text-align: center;
  padding: 10px;
}

.name{
  text-decoration: underline;
}
